.grid-container {
  margin-top: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
  grid-gap: 10px;
  padding: 10px;
  border: 1px solid black;
}

.grid-container > div {
  text-align: center;
  font-size: 30px;
}
